/* MOBILE AND GLOBAL STYLES */

/* applies to screens smaller than 500px (first breakpoint) */
/* and above unless overwritten below */

body {
  background: #fcc;
}

nav {
  flex-direction: column;
  display: none;
}

.menu{
  background-color: #202060;
  color: #f9ecf9;
  line-height: 2em;
  
}




/* TABLET STYLES */

@media screen and (min-width: 500px) {

.menu{
  display: none;
}

nav{
  display: flex;
  flex-direction: row;
}
  /* applies to screens wider than 499px */

  body {
    background: #cfc;
  }
}



/* DESKTOP STYLES */

@media screen and (min-width: 1000px) {

  /* applies to screens wider than 999px */

  body {
    background: #ccf;
  }
}
